<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{user.name}} on {{format_date post.date_created}}</p>
  <p>{{description}}</p>
  <p>
    <button class="btn btn-primary">Add a Comment</button>
  </p>
</div>